@import url("https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8f5ed;
  --destructive: #ff4d4f;
  --destructive-foreground: #fff;
  --border-destructive: #ff4d4f;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-nunito-sans);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-nunito-sans), Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

.nunito_sans {
  font-family: var(--font-nunito-sans);
}

/* Tailwind Utility Classes */
.not-auth {
  @apply font-bold text-red-400 cursor-default;
}

/* Login / Register */
.center {
  @apply flex items-center justify-center min-h-screen;
}

.column {
  @apply flex flex-col space-y-4;
}

.center-horizontally {
  @apply flex justify-center;
}

.center-vertically {
  @apply flex flex-col items-center w-full;
}

.wrapper {
  @apply w-96 bg-secondary text-white rounded-2xl p-6;
}

.wrapper h1 {
  @apply cursor-default text-7xl font-extrabold text-center m-3 text-white;
}

.wrapper .input-box {
  @apply text-2xl m-2 w-full h-12 bg-secondary;
}

.input-box input {
  @apply border-solid border-2 border-secondary outline-none bg-input-field w-full h-full rounded-xl text-input-field-color p-2 text-lg;
}

.input-box input::placeholder {
  @apply text-input-field-color;
}

.form {
  @apply flex flex-col items-center;
}

.login-button {
  @apply text-xl m-1 w-1/3 h-11 mt-2 mb-2 bg-white rounded-full text-secondary font-semibold;
}

.wrapper .register-link {
  @apply text-white text-lg text-center mt-1 mb-4 font-medium cursor-default;
}

.link-decoration {
  @apply no-underline hover:underline text-white font-semibold;
}

.error-text {
  @apply text-red-500 text-xs italic;
}

/* Navbar */
.navbar-wrapper {
  @apply bg-primary pt-6 pb-6 border-s-zinc-200 fixed w-full z-10 top-0 pl-0 pr-0;
}

.navbar-container {
  @apply flex items-center justify-between;
}

.navbar-login-button {
  @apply bg-secondary text-white py-2 px-4 rounded-full;
}

.navbar-logout-button {
  @apply bg-red-500 text-white py-2 px-4 rounded-full;
}

.navbar-khrave {
  @apply ml-2 text-2xl font-bold text-gray-800;
}

/* Home Page */
.home-container {
  @apply w-full mt-20 pt-6;
}

.home-body-container {
  @apply flex flex-col justify-between w-5/6 mx-auto pt-5 pb-5 pl-12 pr-12 mt-10 mb-10;
}

.section-title-wrapper {
  @apply flex justify-between items-center m-10;
}

.section-title-wrapper p {
  @apply text-4xl font-bold text-black;
}

.section-title-wrapper span {
  @apply text-2xl font-normal text-black;
}

/* Hero section */
.hero-container {
  @apply flex items-center justify-center w-full;
}

.htext-button-wrapper {
  @apply flex flex-col w-1/2;
}

.hero-text {
  @apply font-teachers font-extrabold text-black text-8xl;
}

.create-post-button {
  @apply flex items-center justify-between m-6 ml-40;
}

.create-post-button button {
  @apply w-[180px] h-[65px] bg-secondary text-white py-2 px-4 rounded-[28px] hover:shadow-md text-[22px];
}

.create-post-button button:hover {
  @apply bg-[#e1c6a0];
}

/* Featured section */
.featured-picture-gallery {
  @apply pl-16 pr-16 grid grid-cols-6 gap-4;
}

.browse-wrapper {
  @apply flex items-center flex-row hover:underline;
}

.featured-image {
  @apply w-[140px] h-[170px] rounded-[100px] shadow-md bg-white hover:shadow-xl hover:bg-secondary border-4 border-secondary z-0 flex items-center justify-center;
}

/* Recent orders section */
.recent-picture-gallery {
  @apply pl-16 pr-16 grid grid-cols-4 gap-4;
}

.food-rectangle {
  @apply flex flex-col items-center justify-center bg-[#d6b483] rounded-[2rem] overflow-hidden h-[20rem] w-[15.625rem] relative m-4;
}

.food-rectangle:hover {
  @apply bg-[#e1c6a0];
}

.food-rectangle h4 {
  @apply text-white m-2 mb-0 font-bold tracking-wider;
}

.food-rectangle p {
  @apply text-white leading-3;
}

.food-rectangle-image {
  @apply w-full h-full object-cover;
}

.image-shape {
  @apply rounded-[2rem] overflow-hidden h-52 w-52 relative;
}

/* Vendor Pages */
.vendor-container {
  @apply flex flex-col items-center w-full mt-20 pt-6 mb-16;
}

.top-wrapper {
  @apply h-[25rem] flex items-center justify-center pt-0 relative;
}

.dog-image {
  @apply mb-8 w-[clamp(10rem,20vw,25rem)] h-auto mx-6;
}

.vendor-rectangle-wrapper {
  @apply w-[26rem] h-[13rem] bg-[#d6b483] rounded-[2rem] m-8 p-8 flex items-center justify-center flex-col;
}

.vendor-rectangle-wrapper h3 {
  @apply text-white font-extrabold text-[clamp(1rem,10vw,1.5rem)] text-left;
}

.vendor-rectangle-wrapper p {
  @apply text-white text-left mt-4;
}

.food-items {
  @apply w-4/5 grid grid-cols-3 gap-3 p-2;
}

.vendor-food-rectangle {
  @apply bg-[#d6b483] rounded-[2rem] overflow-hidden h-[11rem] w-[21rem] relative m-4 mb-2;
}

.link {
  @apply text-black font-bold no-underline text-center mx-4 text-[1.4rem] p-2;
}

.rectangle-link-wrapper {
  @apply flex relative justify-center items-center m-2 mb-2 p-2;
}

.rectangle-hover:hover {
  @apply hover:bg-orange-200 transition-colors duration-300 bg-opacity-50 rounded-3xl;
}

.back-button {
  @apply absolute top-[7rem] left-[4rem] no-underline opacity-70 transition-opacity duration-300 hover:opacity-100 z-10;
}

.back-button-circle {
  @apply w-[3rem] h-[3rem] rounded-full bg-black bg-opacity-30 flex items-center justify-center shadow-md;
}

.arrow {
  @apply border border-white border-r-0 border-t-0 border-l-4 border-b-4 inline-block p-[3px];
}

.left {
  @apply rotate-[45deg];
}

/* Individual Vendor Pgaes */
.i-vendor-container {
  @apply flex flex-col items-center w-full mt-20 pt-6 mb-16 relative;
}

.i-vendor-wrapper {
  @apply relative h-72 w-full overflow-hidden flex;
}

.i-vendor-image {
  @apply h-full w-full object-cover;
}

.i-vendor-title {
  @apply absolute bottom-8 left-36 text-white font-extrabold text-7xl m-4 mb-2 p-2 drop-shadow-lg;
}

.i-circle {
  @apply w-24 h-24 rounded-full bg-white absolute left-14 bottom-8 flex items-center justify-center overflow-hidden shadow-lg;
}

.i-create-post-button {
  @apply flex items-center justify-center w-20 h-20 rounded-full bg-green-600 text-white text-2xl no-underline shadow-lg fixed bottom-8 right-8 transition-colors duration-300;
}

.i-create-post-button:hover {
  @apply bg-green-700;
}

.plus-sign {
  @apply relative w-8 h-8;
}

.plus-sign::before,
.plus-sign::after {
  content: "";
  @apply absolute bg-white rounded-md;
}

.plus-sign::before {
  @apply w-1 h-full left-1/2 transform -translate-x-1/2;
}

.plus-sign::after {
  @apply h-1 w-full top-1/2 transform -translate-y-1/2;
}

.i-back-button {
  @apply absolute top-[4rem] left-[4rem] no-underline opacity-70 transition-opacity duration-300 hover:opacity-100 z-10;
}

.i-not-auth {
  @apply mt-12 font-bold text-red-400 cursor-default;
}

/* Create Post */
.view-feed-button {
  @apply bg-primary text-secondary py-2 px-4 rounded-full shadow-md hover:bg-yellow-800 hover:text-white transition duration-300 ease-in-out mb-5 inline-block text-lg font-semibold text-center;
}

.p-wrapper {
  @apply bg-secondary p-8 pb-14 rounded-3xl shadow-md max-w-md w-full;
}

.p-wrapper h1 {
  @apply text-3xl font-semibold text-white m-5 text-center;
}

.p-wrapper label {
  @apply block text-white text-lg font-semibold mb-2;
}

.p-wrapper input {
  @apply w-full p-4 rounded-3xl shadow border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500;
}

.p-wrapper textarea {
  @apply w-full p-4 rounded-3xl shadow border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500;
}

.post-wall-wrapper {
  @apply w-5/6 flex justify-center;
}

.post-wall {
  @apply w-1/2;
}

.cat-sando {
  @apply w-1/5 h-1/5 m-32 ml-32 mr-10;
}

.no-posts {
  @apply text-red-400 font-bold m-72;
}

/* Individual Posts */
.post-container {
  @apply bg-[#d6b483] rounded-[2rem] p-8 my-12 w-full shadow-lg;
}

.post-container h3 {
  @apply text-white mr-4 font-extrabold;
}

.post-container p {
  @apply text-white mt-4;
}

.subject-wrapper {
  @apply flex items-center mr-8;
}

.subject-wrapper h3 {
  @apply mr-4;
}

.subject-wrapper h3:last-child {
  @apply mr-0;
}

/* Shadcn stuff */
.destructive {
  border: 1px solid var(--border-destructive);
  background: var(--destructive);
  color: var(--destructive-foreground);
}
