@import url("https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8f5ed;
  --destructive: #ff4d4f;
  --destructive-foreground: #fff;
  --border-destructive: #ff4d4f;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-nunito-sans);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-nunito-sans), Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

.nunito_sans {
  font-family: var(--font-nunito-sans);
}

/* Tailwind Utility Classes */
/* Login / Register */
.center {
  @apply flex items-center justify-center min-h-screen;
}

.column {
  @apply flex flex-col space-y-4;
}

.center-horizontally {
  @apply flex justify-center;
}

.center-vertically {
  @apply flex flex-col items-center w-full;
}

.wrapper {
  @apply w-96 bg-secondary text-white rounded-2xl p-6;
}

.wrapper h1 {
  @apply cursor-default text-7xl font-extrabold text-center m-3 text-white;
}

.wrapper .input-box {
  @apply text-2xl m-2 w-full h-12 bg-secondary;
}

.input-box input {
  @apply border-solid border-2 border-secondary outline-none bg-input-field w-full h-full rounded-xl text-input-field-color p-2 text-lg;
}

.input-box input::placeholder {
  @apply text-input-field-color;
}

.form {
  @apply flex flex-col items-center;
}

.login-button {
  @apply text-xl m-1 w-1/3 h-11 mt-2 mb-2 bg-white rounded-full text-secondary font-semibold;
}

.wrapper .register-link {
  @apply text-white text-lg text-center mt-1 mb-4 font-medium cursor-default;
}

.link-decoration {
  @apply no-underline hover:underline text-white font-semibold;
}

.error-text {
  @apply text-red-500 text-xs italic;
}

/* Navbar */
.navbar-wrapper {
  @apply bg-primary pt-6 pb-6 border-s-zinc-200 fixed w-full z-10 top-0 pl-0 pr-0;
}

.navbar-container {
  @apply flex items-center justify-between;
}

.navbar-login-button {
  @apply bg-secondary text-white py-2 px-4 rounded-full;
}

.navbar-logout-button {
  @apply bg-red-500 text-white py-2 px-4 rounded-full;
}

.navbar-khrave {
  @apply ml-2 text-2xl font-bold text-gray-800;
}

/* Home Page */
.home-container {
  @apply w-full mt-20 pt-6;
}

/* Hero section */
.hero-container {
  @apply flex items-center justify-center w-full;
}

.htext-button-wrapper {
  @apply flex flex-col w-1/2;
}

.hero-text {
  @apply font-teachers font-extrabold text-black text-8xl;
}

.create-post-button {
  @apply flex items-center justify-between m-6 ml-40;
}

.create-post-button button {
  @apply w-[180px] h-[65px] bg-secondary text-white py-2 px-4 rounded-[28px] hover:shadow-md text-[22px];
}

/* Featured section */
.featured-container {
  @apply flex flex-col justify-between w-5/6 mx-auto pt-5 pb-5 pl-12 pr-12 mt-10 mb-10;
}

.featured-title-wrapper {
  @apply flex justify-between items-center m-10;
}

.featured-title {
  @apply text-4xl font-bold text-black;
}

.browse-wrapper {
  @apply flex items-center flex-row hover:underline;
}

.browse-text {
  @apply text-2xl font-normal text-black;
}

.featured-image {
  @apply w-[140px] h-[170px] rounded-[100px] shadow-md bg-white hover:shadow-xl hover:bg-secondary border-4 border-secondary z-0 flex items-center justify-center;
}

.food-rectangle-image {
  @apply w-full h-full object-cover;
}

.food-rectangle {
  @apply bg-[#d6b483] rounded-[2rem] overflow-hidden h-[18.125rem] w-[15.625rem] relative m-4;
}

/* Shadcn stuff */
.destructive {
  border: 1px solid var(--border-destructive);
  background: var(--destructive);
  color: var(--destructive-foreground);
}
