@import url("https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFFDEA;
  --font-made-tommy: var(--font-made-tommy)
  --font-made-tommy-soft: var(--font-made-tommy-soft)

  /* Shadcn Variables */
  --sc-background: 0 0% 100%;
  --sc-foreground: 222.2 84% 4.9%;
  --sc-card: 0 0% 100%;
  --sc-card-foreground: 222.2 84% 4.9%;
  --sc-popover: 0 0% 100%;
  --sc-popover-foreground: 222.2 84% 4.9%;
  --sc-primary: 222.2 47.4% 11.2%;
  --sc-primary-foreground: 210 40% 98%;
  --sc-secondary: 210 40% 96.1%;
  --sc-secondary-foreground: 222.2 47.4% 11.2%;
  --sc-muted: 210 40% 96.1%;
  --sc-muted-foreground: 215.4 16.3% 46.9%;
  --sc-accent: 210 40% 96.1%;
  --sc-accent-foreground: 222.2 47.4% 11.2%;
  --sc-destructive: 0 84.2% 60.2%;
  --sc-destructive-foreground: 210 40% 98%;
  --sc-border: 214.3 31.8% 91.4%;
  --sc-input: 214.3 31.8% 91.4%;
  --sc-ring: 222.2 84% 4.9%;
  --sc-chart-1: 12 76% 61%;
  --sc-chart-2: 173 58% 39%;
  --sc-chart-3: 197 37% 24%;
  --sc-chart-4: 43 74% 66%;
  --sc-chart-5: 27 87% 67%;
  --sc-radius: 0.5rem;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-nunito-sans);
}

.dark {
  --sc-background: 222.2 84% 4.9%;
  --sc-foreground: 210 40% 98%;
  --sc-card: 222.2 84% 4.9%;
  --sc-card-foreground: 210 40% 98%;
  --sc-popover: 222.2 84% 4.9%;
  --sc-popover-foreground: 210 40% 98%;
  --sc-primary: 210 40% 98%;
  --sc-primary-foreground: 222.2 47.4% 11.2%;
  --sc-secondary: 217.2 32.6% 17.5%;
  --sc-secondary-foreground: 210 40% 98%;
  --sc-muted: 217.2 32.6% 17.5%;
  --sc-muted-foreground: 215 20.2% 65.1%;
  --sc-accent: 217.2 32.6% 17.5%;
  --sc-accent-foreground: 210 40% 98%;
  --sc-destructive: 0 62.8% 30.6%;
  --sc-destructive-foreground: 210 40% 98%;
  --sc-border: 217.2 32.6% 17.5%;
  --sc-input: 217.2 32.6% 17.5%;
  --sc-ring: 212.7 26.8% 83.9%;
  --sc-chart-1: 220 70% 50%;
  --sc-chart-2: 160 60% 45%;
  --sc-chart-3: 30 80% 55%;
  --sc-chart-4: 280 65% 60%;
  --sc-chart-5: 340 75% 55%;
}

/* CSS */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-made-tommy), sans-serif;
  min-height: 100vh;
}

.nunito_sans {
  font-family: var(--font-nunito-sans);
}

/* Tailwind Utility Classes */
.not-auth {
  @apply font-bold text-red-400 cursor-default;
}

.center {
  @apply flex items-center justify-center min-h-screen;
}

.column {
  @apply flex flex-col space-y-4;
}

.center-horizontally {
  @apply flex justify-center;
}

.center-vertically {
  @apply flex flex-col items-center mx-auto;
}

.default-button {
  @apply m-2 bg-slate-600 text-white py-2 px-4 rounded-full;
}

.default-button:hover {
  @apply bg-slate-700;
}

/* Login / Register */
.wrapper {
  @apply w-96 bg-secondary text-white rounded-2xl p-6;
}

.wrapper h1 {
  @apply cursor-default text-7xl font-extrabold text-center m-3 text-white;
}

.wrapper .input-box {
  @apply text-2xl m-2 w-full h-12 bg-secondary;
}

.input-box input {
  @apply border-solid border-2 border-secondary outline-none bg-input-field w-full h-full rounded-xl text-input-field-color p-2 text-lg;
}

.input-box input::placeholder {
  @apply text-input-field-color;
}

.form {
  @apply flex flex-col items-center;
}

.login-button {
  @apply text-xl m-1 w-1/3 h-11 mt-2 mb-2 bg-white rounded-full text-secondary font-semibold;
}

.wrapper .register-link {
  @apply text-white text-lg text-center mt-1 mb-4 font-medium cursor-default;
}

.link-decoration {
  @apply no-underline hover:underline text-white font-semibold;
}

.error-text {
  @apply text-red-500 text-xs italic;
}

/* Navbar */
nav {
  display: flex;
  background-color: #517b53;
  height: 5rem;
  width: auto;
  align-items: center;
  padding: 1rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  justify-content: space-between;
  flex-direction: row;
  position: sticky;
  top: 0;
  z-index: 999;
}

nav h1 {
  color: #f8eeb9;
  margin: 0;
  font-size: 2.3rem;
  font-family: var(--font-made-tommy), sans-serif;
  font-weight: 700;
}

.nav-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.hamburger {
  display: block;
  width: 33px;
  height: 3px;
  margin-bottom: 8px;
  position: relative;

  background: #f8eeb9;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

.navbar-login-button {
  @apply bg-secondary text-white py-2 px-4 rounded-full;
}

.navbar-login-button:hover {
  @apply bg-secondaryhover;
}

.navbar-logout-button {
  @apply bg-red-500 text-white py-2 px-4 rounded-full;
}

.navbar-logout-button:hover {
  @apply bg-red-600;
}

.navbar-profile-button {
  @apply mx-2 bg-green-500 text-white py-2 px-4 rounded-full;
}

.navbar-profile-button:hover {
  @apply bg-green-600;
}

.navbar-khrave {
  @apply ml-2 text-2xl font-bold text-gray-800;
}

/* Home Page */
.home-container {
  @apply w-full max-w-[2000] my-20 pt-6;
}

.home-body-container {
  @apply flex flex-col justify-between w-full mx-auto pt-5 pb-5 pl-12 pr-12 mt-10 mb-10 max-w-[2000];
}

@media (min-width: 1020px) {
  /* l breakpoint */
  .home-body-container {
    @apply w-[83%];
  }
}

.section-title-wrapper {
  @apply flex justify-between items-center m-10;
}

.section-title-wrapper p {
  @apply text-4xl font-bold text-black;
}

.section-title-wrapper span {
  @apply text-2xl font-normal text-black;
}

@media (max-width: 740px) {
  .section-title-wrapper {
    margin: 0;
  }

  .section-title-wrapper p {
    font-size: 1.5rem;
  }

  .section-title-wrapper span {
    display: none;
  }
}

/* Hero section */
.hero-container {
  @apply flex items-center justify-center max-w-[2000] gap-4;
}

.htext-button-wrapper {
  @apply flex flex-col w-1/2;
}

.hero-container h1 {
  @apply font-teachers font-extrabold text-black text-4xl;
}

.hero-icon-wrapper {
  @apply w-[20%] max-w-[350];
}

@media (max-width: 740px) {
  .hero-icon-wrapper {
    @apply hidden;
  }

  .htext-button-wrapper {
    width: 83%;
    text-align: center;
  }

  .create-post-button {
    justify-content: center;
  }
}

@media (min-width: 1020px) {
  .hero-container h1 {
    @apply text-5xl;
  }
}

@media (min-width: 1300px) {
  .hero-container h1 {
    @apply text-8xl;
  }
}

.create-post-button {
  @apply flex w-full my-6;
}

.create-post-button button {
  @apply w-[180px] h-[65px] bg-secondary text-white py-2 px-4 rounded-[28px] hover:shadow-md text-[22px];
}

.create-post-button button:hover {
  @apply bg-secondaryhover;
}

/* Featured section */
.featured-picture-gallery {
  display: flex;
  gap: 10px;
  padding: 1rem;
  width: 100%;
  justify-content: space-evenly;
}

.browse-wrapper {
  @apply flex items-center flex-row hover:underline;
}

.featured-container {
  @apply w-[9rem] aspect-square rounded-full shadow-md bg-white hover:shadow-xl hover:bg-secondary border-4 border-secondary z-0 flex items-center justify-center;
}

@media (max-width: 740px) {
  .featured-container {
    @apply w-[7rem] border-[2.5px];
  }
}

@media (max-width: 1200px) {
  .featured-container {
    @apply border-[3px] w-[8rem];
  }
}

.featured-image {
  @apply w-[50%];
}

/* Recent orders section */
.recent-picture-gallery {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
}

.food-rectangle {
  @apply flex flex-col items-center justify-center bg-[#d6b483] rounded-[2rem] overflow-hidden h-[15rem] w-auto aspect-[.824] py-4;
}

@media (max-width: 740px) {
  .recent-picture-gallery {
    margin-top: 2rem;
  }
}

.food-rectangle:hover {
  @apply bg-secondaryhover;
}

.food-rectangle h4 {
  @apply text-white m-2 mb-0 font-bold tracking-wider text-center leading-none;
}

.food-rectangle p {
  @apply text-white leading-3 mt-2;
}

.food-rectangle-image {
  @apply w-full h-full object-cover;
}

.image-shape {
  @apply rounded-[2rem] overflow-hidden h-48 w-[80%] relative;
}

/* Vendor Pages */
.vendor-container {
  @apply flex flex-col items-center w-full mt-20 pt-6 mb-16;
}

.top-wrapper {
  @apply h-[25rem] flex items-center justify-center pt-0 relative;
}

.dog-image {
  @apply mb-8 w-[clamp(10rem,20vw,25rem)] h-auto mx-6;
}

.vendor-rectangle-wrapper {
  @apply w-[26rem] h-[13rem] bg-[#d6b483] rounded-[2rem] m-8 p-8 flex items-center justify-center flex-col;
}

.vendor-rectangle-wrapper h3 {
  @apply text-white font-extrabold text-[clamp(1rem,10vw,1.5rem)] text-left;
}

.vendor-rectangle-wrapper p {
  @apply text-white text-left mt-4;
}

.food-items {
  @apply w-4/5 grid grid-cols-3 gap-3 p-2;
}

.vendor-food-rectangle {
  @apply bg-[#d6b483] rounded-[2rem] overflow-hidden h-[11rem] w-[21rem] relative m-4 mb-2;
}

.link {
  @apply text-black font-bold no-underline text-center mx-4 text-[1.4rem] p-2;
}

.rectangle-link-wrapper {
  @apply flex relative justify-center items-center m-2 mb-2 p-2;
}

.rectangle-hover:hover {
  @apply hover:bg-orange-200 transition-colors duration-300 bg-opacity-50 rounded-3xl;
}

.back-button {
  @apply absolute top-[7rem] left-[4rem] no-underline opacity-70 transition-opacity duration-300 hover:opacity-100 z-10;
}

.back-button-circle {
  @apply w-[3rem] h-[3rem] rounded-full bg-black bg-opacity-30 flex items-center justify-center shadow-md;
}

.arrow {
  @apply border border-white border-r-0 border-t-0 border-l-4 border-b-4 inline-block p-[3px];
}

.left {
  @apply rotate-[45deg];
}

/* Individual Vendor Pages */
.i-vendor-main {
  margin-top: 3rem;
  display: flex;
  width: 100%;
}

.i-vendor-left-section {
  width: 30%;
}

.i-vendor-logo-wrapper {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  gap: 20;
  top: -3.5rem;
}

.i-vendor-logo-wrapper h2 {
  color: #517B53;
  font-size: 4rem;
  font-weight: 700;
  align-self: end;
}

.i-vendor-filter-wrapper {
  display: flex;
  flex-direction: row;
  gap: 10;
}

.i-vendor-filter-wrapper h1 {
  font-size: 1.5rem;
}

.i-vendor-post-section {
  display: flex;
  flex-direction: column;
  padding-top: .5rem;
  padding-left: 4rem;
  padding-right: 3rem;
  width: 70%;
  justify-content: center;
}

.i-vendor-back {
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
  font-weight: 400;
  font-size: 1.5rem;
  gap: 5;
}

.i-vendor-banner {
  height: 500px;
  width: 100%;
  background-color: #e2d591;
  margin-right: 50px;
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
}

.i-vendor-ad-wrapper {
  height: 400px;
  width: 80%;
  background-color: #D9D9D9;
  justify-self: center;
  border-radius: 2rem;
  padding: 1.5rem;
  position: sticky;
  top: 7rem;
}

.i-vendor-ad-wrapper p {
  font-weight: 700;
  font-size: 2rem;
}

.i-vendor-post {
  width: 80%;
  margin-top: 1rem;
}

.i-circle {
  width: 30%;
  height: auto;
  aspect-ratio: 1 / 1;
  max-width: 150px; 
  max-height: 150px;
  border-radius: 50%;
  background-color: #517B53;
  position: relative;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.i-create-post-button {
  @apply flex items-center justify-center w-20 h-20 rounded-full bg-green-600 text-white text-2xl no-underline shadow-lg fixed bottom-8 right-8 transition-colors duration-300 z-10;
}

.i-create-post-button:hover {
  @apply bg-green-700;
}

.plus-sign {
  @apply relative w-8 h-8;
}

.plus-sign::before,
.plus-sign::after {
  content: "";
  @apply absolute bg-white rounded-md;
}

.plus-sign::before {
  @apply w-1 h-full left-1/2 transform -translate-x-1/2;
}

.plus-sign::after {
  @apply h-1 w-full top-1/2 transform -translate-y-1/2;
}

@media screen and (max-width: 1450px) {
  .i-vendor-logo-wrapper h2 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 1200px) {
  .i-vendor-logo-wrapper {
    top: -2rem;
    gap: 5;
  }

  .i-vendor-logo-wrapper h2 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 800px) {
  .i-vendor-logo-wrapper {
    top: -1.2rem;
    gap: 5;
  }
  .i-vendor-logo-wrapper h2 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 680px) {
  .i-vendor-logo-wrapper {
    top: -1rem;
    gap: 5;
  }
  .i-vendor-logo-wrapper h2 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  .i-vendor-main {
    flex-direction: column;
    align-items: center;
  }

  .i-vendor-post-section {
    width: 100%;
    padding-right: 2rem;
    padding-left: 2rem;
  }

  .i-vendor-post {
    width: 80%;
  }

  .i-vendor-left-section {
    align-self: start;
    width: 100%;
  }

  .i-vendor-banner {
    display: none;
  }

  .i-vendor-logo-wrapper {
    top: 10;
    margin-bottom: 2rem;
  }
  

  .i-vendor-logo-wrapper h2 {
    font-size: 2rem;
  }

  .i-vendor-filter-wrapper {
    justify-content: center;
  }

  .i-vendor-filter-wrapper h1 {
    font-size: 1rem;
  }

  .i-vendor-ad-wrapper {
    display: none;
  }

  .i-create-post-button {
    @apply w-[3rem] h-[3rem]
  }

  .plus-sign {
    @apply relative w-6 h-6;
  }
  
}

.i-back-button {
  @apply absolute top-[4rem] left-[4rem] no-underline opacity-70 transition-opacity duration-300 hover:opacity-100 z-10;
}

.i-not-auth {
  @apply mt-12 font-bold text-red-400 cursor-default;
}

/* Create Post */
.p-close-button {
  @apply p-2 px-4 bg-primary text-secondary font-extrabold rounded-full hover:bg-red-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-700;
}

.p-wrapper {
  @apply bg-secondary p-8 pb-10 m-32 rounded-3xl shadow-md max-w-2xl w-full;
}

.p-wrapper h1 {
  @apply text-3xl font-semibold text-white m-2 mb-4 text-center;
}

.p-wrapper label {
  @apply block text-white text-lg font-semibold mb-2;
}

.p-wrapper input {
  @apply w-full p-4 py-5 rounded-3xl shadow border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500;
}

.p-wrapper textarea {
  @apply w-full resize-none p-4 h-40 rounded-3xl shadow border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500;
}

.character-count {
  @apply text-sm text-gray-600;
}

.p-button-wrapper {
  @apply justify-end w-1/5;
}

.p-submit-button {
  @apply w-full bg-primary text-secondary text-xl font-semibold rounded-full py-3 hover:bg-yellow-800 transition duration-300 ease-in-out;
}

.p-bottom-wrapper {
  @apply flex justify-between;
}

.post-wall-wrapper {
  @apply w-full flex justify-center;
}

.post-wall {
  @apply w-3/4 relative;
}

.cat-sando {
  @apply w-1/5 h-1/5 m-32 ml-32 mr-10;
}

.no-posts {
  @apply text-red-400 font-bold mt-56;
}

/* Individual Posts */
.post-container {
  @apply bg-[#D7E2B8] rounded-[2rem] p-8 my-8 w-full shadow-lg;
}

.post-title {
  font-size: 2rem;
  font-weight: 700;
  color: #000000;
}

.post-date {
  font-size: .7rem;
  color: #36454F;
  font-family: var(--font-made-tommy);
  font-weight: 100;
}

.post-container-desc {
  color: black;
  font-family: var(--font-made-tommy-soft), sans-serif;
  font-weight: 400;
}

.post-username {
  @apply text-[#517B53]
}

.post-display-wrapper {
  @apply w-4/5 min-w-96;
}

.subject-wrapper {
  @apply flex mr-8 w-[90%] flex-wrap flex-col;
}

.subject-wrapper h3 {
  @apply leading-tight break-all;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 0.5rem;
}

.post-margin {
  margin-top: 2rem;
}

@media (max-width: 740px) {
  .post-margin {
    margin-top: 1rem;
  }
}

.content-wrapper:has(img) {
  flex-direction: row;
  gap: 2rem;
  justify-content: space-between;
  align-items: flex-start;
}

.content-wrapper:has(img) p {
  flex: 1;
  text-wrap: wrap;
  word-wrap: break-word;
  min-width: 0;
}

.content-wrapper img {
  max-width: 50%;
  object-fit: contain;
  max-height: 20rem;
  border-radius: 0.75rem;
}

@media (max-width: 740px) {
  .content-wrapper:has(img) {
    flex-direction: column;
    gap: 0.5rem;
  }

  .content-wrapper:has(img) p {
    width: 100%;
  }

  .content-wrapper img {
    max-width: 100%;
    max-height: 12rem;
    align-self: center;
  }
}

/* Dashbaord Admin */
.admin-container {
  @apply flex-col;
}

/* User Post Page */
.user-post-page-container {
  @apply flex flex-col justify-center items-center w-5/6 m-32 max-w-6xl;
}

.posts-for-title {
  @apply flex justify-center font-bold text-2xl;
}

.edit-icon {
  @apply flex items-center justify-center w-9 h-9 bg-orange-100 rounded-lg shadow-md hover:bg-green-500 hover:scale-105 transition-all duration-200;
}

.delete-icon {
  @apply flex items-center justify-center w-9 h-9 bg-red-400 rounded-lg shadow-md hover:bg-red-600 hover:scale-105 transition-all duration-200;
}
